In [20]:
import pandas as pd

In [22]:
RSSIDict = {'OnePlus Buds Z2': 0, 'Nothing ear (1)': -96, '6B:3F:F3:EA:AA:31': 0, '41:26:86:BA:92:81': -63}

RSSITable = pd.read_csv('RSSITable.csv')

targetAP1 = RSSIDict['Nothing ear (1)']
targetAP2 = RSSIDict['6B:3F:F3:EA:AA:31']
targetAP3 = RSSIDict['41:26:86:BA:92:81']

def applicationFun(row):
    xDist = abs(row['ap1'] - targetAP1)
    yDist = abs(row['ap2'] - targetAP2)
    zDist = abs(row['ap3'] - targetAP3)
    return xDist**2 + yDist**2 + zDist**2

RSSITable['result'] = RSSITable.apply(applicationFun, axis = 1)
resultant = RSSITable[RSSITable['result'] == RSSITable['result'].min()]

resultant.head(1)['x'], resultant.head(1)['y']

(0    310
 Name: x, dtype: int64,
 0    795
 Name: y, dtype: int64)

In [23]:
resultant

     x    y  ap1  ap2  ap3  result
0  310  795  -62  -64    0    9221

In [24]:
RSSITable

     x    y  ap1  ap2  ap3  result
0  310  795  -62  -64    0    9221
1  310  625  -50  -73    0   11414
2  310  540  -47  -69    0   11131
3  310  285  -44  -62    0   10517
4  395  250  -45  -61    0   10291
5  525  250  -47  -54    0    9286
6  665  250  -50  -62    0    9929
7  835  250  -54  -63    0    9702